@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
.reveal a:not(.image) {
  line-height: 1.3em; }

.design-dev-cycle img {
  background: #f2f2f2;
  border: 10px solid #f2f2f2; }

.yeoman img,
.yo-grunt-bower img {
  background: white; }

.yeoman img {
  border: 30px solid white; }

.grunt img {
  width: 80%; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background-color: #1c4361; }

.reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #f2f2f2; }

::selection {
  color: white;
  background: #134674;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
  line-height: 0.9em;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  text-shadow: none; }

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #f2f2f2;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: white;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #cccccc; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #f2f2f2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #f2f2f2; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #f2f2f2; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #f2f2f2; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #f2f2f2; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: white; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: white; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: white; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: white; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #f2f2f2;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #f2f2f2; }

#Design-Dev-Cycle {
  background-color: white; }
