
// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);


// Override theme settings (see ../template/settings.scss)
$mainFont: 'Open Sans', sans-serif;
$mainColor: #333;
$headingFont: 'Open Sans', sans-serif;
$headingColor: #333;
$headingLetterSpacing: -0.08em;
$headingTextShadow: none;
$backgroundColor: #285E88;
$linkColor: #3b759e;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: #134674;

// Fix links so they are not cut off
.reveal a:not(.image) {
  line-height: 1.3em;
}

// Background generator
@mixin bodyBackground() {
  @include radial-gradient(lighten($backgroundColor, 30%), #f7fbfc );
}



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

